#principal {
	margin: 50px;
	font-family: arial;
}

/* div TOPO */
#topo {	
	padding: 5px;
	display: grid;
	grid-template-columns: auto auto;
	margin: 0px auto 20px auto;	
	grid-gap: 5px;
	border-radius: 10px;
	border: solid;
	color: black;	
	justify-content: space-between;
}

#logo h1 {
	line-height: 10px;
	word-spacing: 0px; 
}

#logo h4{
	line-height: 0px;
	word-spacing: 40px; 
}


/* div CONTEUDO_ESPECIFICO  */
#conteudo_especifico {	
	padding: 5px;
	margin: auto 150px auto 150px;
	text-align: center;
}



/* div RODAPE */
#rodape {	
	padding: 0px;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 50px;
	margin: 20px auto 0px auto;
	grid-gap: 5px;
	border-radius: 10px;
	border: solid;
	color: black;	
	justify-content: space-between;
}

#rodape h6{
	line-height: 0px;
	word-spacing: 0px; 
	margin: 12px auto 12px 12px;
}


.borda {
	border: solid black 2px;
}

